@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="well well-lg">
    <h1>License Manager</h1>
    <p class="lead">for Bullzip PDF Writer</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>License Activation</h2>
        <p>
            Activate your license of the Bullzip PDF Writer
        </p>
        <p><a class="btn btn-default" href="Licensing">Start Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>